.meme {
  margin-top: 2.25rem;
  text-align: center;
}

.meme-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.meme-inputs input {
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  height: 35px;
  width: 50%;
}

.meme-inputs input:focus {
  outline: 1px solid purple;
}

input {
  font-family: "Karla", sans-serif;
}

.form--button {
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  height: 35px;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 0.3rem;
}

.finished-meme {
  position: relative;
  margin-top: 2rem;
}

.meme-image {
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
